@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-wmLight text-wmBlack;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
